## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [35]:
sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)

[14, 9, 58, 23, 47, 6, 91, 66, 88, 52, 21, 78, 41, 25, 26, 82, 75, 97, 99, 13, 16, 83, 69, 3, 85, 40, 24, 10, 54, 61, 35, 31, 93, 84, 34, 39, 43, 30, 33, 92, 73, 48, 60, 65, 38, 76, 62, 49, 42, 12, 36, 17, 64, 32, 44, 18, 86, 37, 70, 11, 95, 98, 4, 68, 90, 1, 71, 87, 79, 28, 89, 15, 63, 8, 67, 19, 2, 45, 51, 74]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [65]:
sample_list_2 = [random.choice(range(100)) for i in range(80)]
print(sample_list_2)

[57, 1, 73, 80, 76, 92, 23, 35, 22, 43, 22, 58, 70, 98, 1, 80, 47, 79, 27, 1, 97, 32, 21, 25, 61, 32, 47, 22, 75, 51, 68, 10, 67, 87, 98, 79, 93, 1, 34, 71, 93, 9, 21, 12, 36, 72, 34, 41, 88, 33, 54, 88, 88, 26, 25, 28, 29, 46, 70, 45, 99, 37, 93, 25, 83, 83, 6, 59, 64, 70, 33, 43, 59, 24, 49, 1, 27, 31, 62, 48]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [64]:
set2 = set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [116]:
set3 = set([i for i in set1 if i not in set2])
print(set3)

{3, 5, 11, 17, 18, 21, 26, 27, 28, 30, 32, 35, 36, 37, 41, 44, 49, 51, 55, 57, 66, 67, 69, 76, 79, 80, 81, 82, 84, 87, 88, 92, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [117]:
set4 = set([i for i in set2 if i not in set1])
print(set4)

{96, 2, 38, 6, 91, 53, 24, 58, 59, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [118]:
set5 = set([i for i in set1 if i in set2])
print(set5)

{1, 4, 7, 8, 9, 10, 12, 13, 15, 16, 19, 20, 22, 23, 31, 33, 34, 39, 42, 43, 45, 47, 48, 50, 52, 54, 56, 60, 61, 63, 65, 68, 70, 71, 73, 74, 75, 77, 83, 85, 86, 90, 93, 95, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [112]:
#set5 is the intersection of set1 and set2
#set3 contains numbers in set1 but not in set2
#therefore set3 + set5 = set1
print(len(set3)+len(set5) == len(set1))

#set5 is the intersection of set1 and set2
#set4 contains numbers in set2 but not in set1
#therefore set4 + set5 = set2
print(len(set4)+len(set5) == len(set2))

#set3 contains numbers in set1 but not in set2
#set4 contains numbers in set2 but not in set1
#set5 is the intersection of set1 and set2
#therefore, set1 + set2 - set5 = set3 + set4 + set5
print((len(set1)+len(set2))-len(set5) == len(set3)+len(set4)+len(set5))

True
True
True

#### Create an empty set called `set6`.

In [120]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [127]:
set6.update(set3, set5)
print(set6)

{1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [128]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [132]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [137]:
print(set3.union(set4, set5))
print(set1.union(set2))
print(set3.union(set4, set5) == set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
True

#### Using the `pop` method, remove the first element from `set1`.

In [151]:
list(set1).pop(0)

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [153]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)

print(set1)

{3, 4, 5, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 42, 43, 44, 45, 47, 48, 50, 52, 54, 55, 56, 57, 60, 63, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}